h1 {
  font-family: 'Libre Caslon Display', serif;
  font-weight: 400;
  color: #787878;
}

p, h2, .links {
  font-family: 'Darker Grotesque', sans-serif;
  color: #787878;
}

body {
  background-color: #FDFBE1;
}

.intro, .links {
  max-width: 20em;
  margin-left: auto;
  margin-right: auto;
}

.box {
  border: solid 2px #FEEC8E;
  border-radius: 300px;
}

a {
  text-decoration: none;
  color: #E3B778;
  transition: color 300ms linear;
}

a:hover {
  color: #A7D486;
}

.dot {
  color: #A7D486;
}

h2 {
  color: #A7D486;
}

.outer-box {
  width: 90%;
}
